# 13_시리즈
- Series는 데이터프레임(DataFrame)과 함께 판다스에서 제공하는 데이터 구조 중 하나  
- 시리즈는 1차원 자료구조  
- 1차원 자료구조이기 때문에 columns 속성이 없고 index 속성만 있음  

        Series([data, index, dtype, name, copy, ...])
https://pandas.pydata.org/docs/reference/series.html

### 1. 리스트로 시리즈 객체 생성

In [1]:
from pandas import Series, DataFrame

In [2]:
fruits = Series([2500, 3800, 1200, 6000],
                index=['apple','banana','pear','cherry'])

In [3]:
fruits

apple     2500
banana    3800
pear      1200
cherry    6000
dtype: int64

- 시리즈 객체의 값 얻기

In [4]:
fruits.values

array([2500, 3800, 1200, 6000])

- 시리즈 객체의 인덱스 얻기

In [5]:
fruits.index

Index(['apple', 'banana', 'pear', 'cherry'], dtype='object')

### 2. 딕셔너리로 시리즈 객체 생성

In [6]:
fruit_dic = {'apple': 2500, 'banana': 3800, 'pear': 1200, 'cherry': 6000}

In [7]:
type(fruit_dic)

dict

In [8]:
fruits = Series(fruit_dic)

In [9]:
type(fruits)

pandas.core.series.Series

In [10]:
fruits

apple     2500
banana    3800
pear      1200
cherry    6000
dtype: int64

### 3. 시리즈 데이터 삭제하기

In [11]:
fruits.drop('banana')

apple     2500
pear      1200
cherry    6000
dtype: int64

In [12]:
fruits.drop('banana', inplace=True)

In [13]:
fruits

apple     2500
pear      1200
cherry    6000
dtype: int64

### 4. 시리즈에서 요소 추출하기

In [14]:
fruits[:]

apple     2500
pear      1200
cherry    6000
dtype: int64

In [15]:
fruits[0:2]

apple    2500
pear     1200
dtype: int64

In [16]:
fruits['apple':'pear']

apple    2500
pear     1200
dtype: int64

### 5. 시리즈 데이터의 기본 연산

In [17]:
fruits1 = Series([5,9,10,3],
                index=['apple','banana','cherry','pear'])

In [18]:
fruits2 = Series([3,2,9,5,10],
                index=['apple','orange','banana','cherry','mango'])

In [19]:
fruits1

apple      5
banana     9
cherry    10
pear       3
dtype: int64

In [20]:
fruits2

apple      3
orange     2
banana     9
cherry     5
mango     10
dtype: int64

In [21]:
fruits1 + fruits2

apple      8.0
banana    18.0
cherry    15.0
mango      NaN
orange     NaN
pear       NaN
dtype: float64

### 6. 시리즈 데이터 정렬

In [22]:
fruits = Series([2500, 3800, 1200, 6000],
                index=['apple','banana','pear','cherry'])

In [23]:
fruits.sort_values(ascending=False)

cherry    6000
banana    3800
apple     2500
pear      1200
dtype: int64

### 7. 시리즈를 데이터프레임으로

In [24]:
fruits.to_frame()

           0
apple   2500
banana  3800
pear    1200
cherry  6000

In [25]:
fruits.to_frame().T

   apple  banana  pear  cherry
0   2500    3800  1200    6000